<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuntun.sanitationkitchen.mapper.TrashWeightSerialMapper">

  <sql id="query">
    <if test="dto != null">
      <if test="dto.rfid != null and dto.rfid != '' ">
        and t.trash_can_rfid = #{dto.rfid}
      </if>
      <if test="dto.code != null ">
        and t.facility_code = #{dto.code}
      </if>
      <if test="dto.restaurantName != null">
        and t.restaurant_name = #{dto.restaurantName}
      </if>
      <if test="dto.driverName != null">
        and t.driver_name = #{dto.driverName}
      </if>
      <if test="dto.beginTime != null">
        and t.create_time &gt; #{dto.beginTime}
      </if>
      <if test="dto.endTime != null">
        and t.create_time &lt; #{dto.endTime}
      </if>
    </if>
  </sql>

  <select
    id="getTrashDateTotal"
    resultType="com.yuntun.sanitationkitchen.model.entity.TrashWeightSerialStatistic">
    SELECT IFNULL(SUM(weight),0) as totalWeight, count(*)
    as dayCount FROM `tb_sk_trash_weight_serial`
    <where>
      <if test="dto.beginTime != null">
        create_time >= #{dto.beginTime}
      </if>
      <if test="dto.endTime != null">
        and create_time  &lt; #{dto.endTime}
      </if>
    </where>
  </select>

  <!-- 获取本月的餐余量,以天为单位返回 -->
  <select id="getCurrentMonthTrashTotal" resultType="com.yuntun.sanitationkitchen.model.entity.TrashWeightSerialStatistic">
    SELECT COUNT(1) as dayCount, DATE_FORMAT(create_time,'%Y-%m-%d') as `date`, SUM(weight) as totalWeight FROM tb_sk_trash_weight_serial WHERE create_time like CONCAT(DATE_FORMAT(NOW(),'%Y-%m'),'%')  GROUP BY `date`;
  </select>

  <!-- 获取本年的餐余量,以月为单位返回 -->
  <select id="getCurrentYearTrashTotal" resultType="com.yuntun.sanitationkitchen.model.entity.TrashWeightSerialStatistic">
    SELECT COUNT(1) as monthCount, DATE_FORMAT(create_time,'%Y-%m') as `month`, SUM(weight) as totalWeight FROM tb_sk_trash_weight_serial WHERE create_time like CONCAT(DATE_FORMAT(NOW(),'%Y'),'%') GROUP BY `month`;
  </select>

  <select id="countCurrentWeight" resultType="java.lang.Double">
    SELECT SUM(weight) as total FROM `tb_sk_trash_weight_serial` t
    <where>
      <include refid="query"/>
    </where>
  </select>

</mapper>
